/* ------ Specification ------ */
body {
	font-family: 'MuseoSansCyrl', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 1.25em;
	font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
}

p {
	margin: 0;
    color: inherit;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.5em;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 24px;
}

h4 {
    font-weight: 700;
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
    color: #081d42;
}

.input, input:hover, input:focus, input:active, button, button:hover, button:focus, input:active {
    outline: none;
} 

.red-font {
    color: #b81c31;
}

:root {
    scroll-behavior: auto;
}

.btn {
    font-weight: 700;
    background: #1cb883;
    color: #fff;
    border-radius: 2px;
    border-bottom: 4px solid #149d6f;
    font-size: 13px;
    transition: all 0.5s ease;
    line-height: 1.1em;
}

.btn:hover {
    background: #149d6f;
    border-bottom: 4px solid #1cb883;
    color: #fff;
}

.btn:focus {
    box-shadow: none;
}

.fa-phone-flip {
    color: #46e6b0;
    margin-right: 5px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}
  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

/* ------ First section ------ */

.header {
    background: url(../img/ssha-chikago-megapolis.jpg) no-repeat center top /cover;
    position: relative;
    z-index: 0;
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(165, 198, 255, 0.47);
    opacity: 1;
    z-index: -1;
}

.navigation {
    padding: 17px 0 7px;
    background: rgba(229, 230, 232, 0.47);
    border-top: 5px solid #58647a ;  
    border-bottom: 4px solid rgba(197, 201, 222, 0.55);
    position: relative;
}

.navigation-normal {
    padding: 15px 0 7px;
    background: rgba(229, 230, 232, 1);
    border-top: 5px solid #58647a ;  
    border-bottom: 4px solid #f1f1f3;
    position: relative;
}

.menu {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 29px;
}

.menu__item {
    transition: all 0.5s ease;
    font-size: 17px;
    color: #3f4b60;
    border-bottom: 2px solid transparent;
}

.menu__item:not(:last-child) {
    margin-right: 29px;
}

.menu__item:hover {
    border-bottom: 2px solid #000;
}

.button-menu {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.box-modal {
    position: relative;
    max-width: 412px;
    width: 100%;
    padding: 51px 51px 52px 53px;
    background: #fff;
    color: #3c3c3c;
    box-shadow: 0 4px 46px rgba(0, 0, 0, 0.41);
    border-radius: 5px;
}

.box-modal_close { 
    position: absolute; 
    right: 10px;
    top: 6px; 
    font-size: 11px;
    line-height: 15px;
    color: #999;
    font-size: 22px;
    cursor: pointer; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__title {
    font-size: 21px;
    text-align: center;
    margin-bottom: 12px;
}

.form__additional {
    text-align: center;
    margin-bottom: 19px;
}

.form__btn {
    margin-top: 12px;
    font-size: 15px;
    height: 48px;
    max-width: 308px;
    width: 100%;
}

.form__input {
    font-family: 'MuseoSansCyrl', sans-serif;
    color: #000;
    width: 100%;
    max-width: 308px;
    height: 38px;
    margin-bottom: 17px;
    border: none;
    border-bottom: 1px solid #757888;
}

.box-modal_close:hover {
    color: #666;
}

.fa-phone-flip {
    display: block;
}

.menu__btn {
    display: flex;
    flex-direction: row;
    margin-top: -3px;
    padding: 10px 18px;
}

.burger {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.menu-opened {
    position: absolute;
    top: 100%;
    left: 0%;
    text-align: center;
    padding: 15px;
    background: rgba(27, 0, 126, 0.75);
    width: 100%;
    border: 1px solid #000;
    z-index: 2;
    margin: 0;
    letter-spacing: 0.16em;
    font-weight: 300;
}

.menu.menu-opened .menu__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    padding: 3px 0;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.85);
}

.burger__btn {
    font-size: 26px;
    border: none;
    background: transparent;
}

.city {
    padding: 82px 0 132px;
    border-bottom: 16px solid rgba(255, 255, 255, 0.15);
}

.city span {
    text-transform: uppercase;
}

.city h2 {
    font-weight: 100;
    margin-top: 5px;
    width: 500px;
    margin-bottom: 27px;
}

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 52px;
    background: rgba(255, 255, 255, 0.82);
    border: 3px solid rgba(255, 255, 255, 0.66);
    border-radius: 3px;
    background-clip: padding-box;
}

.brands__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid ;
    transition: all 0.5s ease;
}

.brands__box:not(:last-child) {
    margin-right: 20px;
}

.brands__box_face {
    color: #3d6ca8;
}

.brands__box_tele {
    color: #25a3d4;
}

.brands__box_twit{
    color: #43c9fd;
}

.brands__box_face:hover {
    color: #fff;
    background: #3d6ca8;
    border: 2px solid #3d6ca8;
}

.brands__box_tele:hover {
    color: #fff;
    background: #43c9fd;
    border: 2px solid #43c9fd;
}

.brands__box_twit:hover {
    color: #fff;
    background: #25a3d4;
    border: 2px solid #25a3d4;
}

.point {
    padding: 58px 0 68px;
    background: #fafafb;
}

.point__title {
    display: flex;
    flex-direction: row;
    font-size: 37.5px;
}

.point__text {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    color: #7e838d;
}

.fa-right-long {
    font-size: 11px;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 4px;
}

.point__text a {
    transition: all 0.5s ease;
    color: #49556b;
    border-bottom: 1px solid transparent;
}

.point__text a:hover {
    border-bottom: 1px solid #49556b;
}

.block {
    display: flex;
    justify-content: center;
    margin: 23px 0 0;
}

.block-service {
    display: flex;
    justify-content: center;
    margin: 17px 0 0;
}

.case {
    padding: 12px 13px 12px 17px;
    transition: all 0.5s ease;
    border: 2px solid transparent;
    color: #a1a6af;
    cursor: pointer;
}

.case:hover {
    color: #b81c31;
    border: 2px solid #b81c31;
}

.case__text_15 {
    font-weight: 700;
    font-size: 15.83px;
}

.case__text_12 {
    font-size: 12.92px;
}

/* ------ Second section ------ */

.confidence {
    padding: 51px 0 100px;
    background-color: #f1f1f3;
}

.confidence h2 {
    font-weight: 700;
    font-size: 29.17px;
    text-align: center;
    margin-bottom: 40px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 370px;
    max-width: 100%;
}

.wrap_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 119px;
    height: 119px;
    border-radius: 50%;
    background-color: #c8cbdb;
    margin-bottom: 23px;
}

.wrap__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 8px;
}

.convoy {
    padding: 43px 0 39px;
    background: url(../img/Local-Business-Insurance-Agents.jpg) no-repeat center top /cover;
    position: relative;
    color: #fff;
    z-index: 0;
}

.convoy::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(88, 94, 122, 0.69);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

.convoy img {
    border: 7px solid rgba(255, 255, 255, 0.39);
    border-radius: 50%;
    background-clip: padding-box;
    position: relative;
    margin-top: 10px;
}

.escort {
    width: 325px;
    font-size: 15px;
    margin-top: 27px;
}

.escort__title {
    font-weight: 700;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 1.0em;
}

.escort__text {
    line-height: 1.2em;
}

.categories {
    padding: 20px 55px 23px 28px;
    border: 2px solid #9a9ca6;
    border-radius: 5px;
    font-size: 15.42px;
}

.category a {
    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
}

.category a:hover {
    border-bottom: 1px solid #fff;
}

.category:not(:last-child) {
    margin-bottom: 15px;
}

.benefits {
    padding-top: 51px;
}

.benefits__title {
    font-weight: 700;
    font-size: 29.17px;
    margin-bottom: 30px;
}

.benefits__text {
    line-height: 1.2em;
    font-size: 15px;
    margin-bottom: 52px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #102e62;
    margin: 39px auto 56px;
}

.advantage {
    padding: 35px 0 31px;
}

.stick::after {
    content: '';
    width: 100%;
    border-bottom: 2px solid #e5e6e8;
}

.benefits .line::after {
    content: '';
    width: 960px;
    border-bottom: 2px solid #e5e6e8;
}

.advantage__title {
    margin-bottom: 14px;
}

.advantage__text {
    letter-spacing: 0.04em;
}

.map {
    padding: 47px 0 52px;
    position: relative;
}

.map-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contact-us {
    background: rgba(88, 100, 122, 0.75);
    color: #fff;
    padding: 21px 36px 55px 28px;
    font-size: 16px;
    border-radius: 7px;
    position: relative;
    width: 470px;
    margin-left: auto;
}

.contact-us::after {
    content: '';
    border: 18px solid transparent;
    border-left: 18px solid rgba(88, 100, 122, 0.75); ; 
    border-bottom: 18px solid rgba(88, 100, 122, 0.75); ;
    border-radius: 3px;
    position: absolute;
    top: 11%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(45deg) ;
} 

.general a {
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

.general a:hover {
    border-bottom: 1px solid #fff;
}

.about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
    border-bottom: 2px solid #999fab;
}

.about__title {
    margin-top: 3px;
    font-size: 21px;
    color: #fff;
}

.brands-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.brands-contact__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    transition: all 0.5s ease;
}

.brands-contact__box:hover {
    color: rgba(88, 100, 122, 0.75); 
    background: #fff;
}

.brands-contact .fa-brands {
    margin-top: 2px;
    font-size: 16.67px;
}

.general {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}

.contacts {
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
}

.contact__adress {
    display: flex;
    margin-top: 20px;
    margin-bottom: 8px;
    line-height: 1.2em;
}

.fa-location-arrow {
    display: block;
}

.contact__text {
    margin-left: 8px;
}

.fa-envelope {
    display: block;
    margin-right: 4px;
}

.contacts__link {
   margin-left: 7px;
}

.data {
    margin-top: 3px;
    width: 190px;
    font-size: 12px;
    line-height: 1.15em;
}

.data__text:not(:last-child) {
    margin-bottom: 17px;
}

/* ------ Third section ------ */

.points {
    padding: 104px 0 78px;
    position: relative;
}

.points__btn {
    font-size: 16px;
    padding: 13px 38px;
    position: absolute;
    top: 0%;
    left:50%;
    transform:translate(-50%, -50%);
}

.list_icon {
    width: 86px;
    height: 86px;
    background-color: #102e62;
    font-size: 50.11px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 11px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 365px;
}

.list__title {
    font-weight: 100;
    margin-bottom: 15px;
    line-height: 0.9em;
}

.list__text {
    line-height: 1.2em;
}

.subcategory {
    padding: 55px 0;
}

.subcategory__title {
    font-weight: 700;
    margin-bottom: 25px;
}

.subcategory__text {
    max-width: 770px;
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
}

.subcategory__text:not(:last-child) {
    margin-bottom: 18px;
}

.consultation {
    max-width: 470px;
    width: 100%;
    height: 190px;
    margin-top: 36px;
    padding: 24px 32px 28px ;
    border: 2px solid #9a9ca6;
    border-radius: 5px;
    position: relative;
}

.consultation__title {
    font-size: 16px;
    margin-bottom: 18px;
}

.consultation a {
    font-weight: 700;
}

.consultation__text {
    width: 250px;
    font-size: 12px;
    line-height: 1.2em;
}

.consultation img {
    opacity: 0.36;
    position: absolute;
    top: 50%;
    left: 73%;
}

.send {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;
}

.consultation__btn {
    background: #fff;
    color: #b81c31;
    border: 2px solid #b81c31;
    margin-right: 13px;
    padding: 12px 25px 10px;
}

.consultation__btn:hover {
    border-bottom: 2px solid #b81c31;
    color: #fff;
    background: #b81c31;
}

.addition {
    background: #fafafb;
    padding: 51px 0 110px ;
    height: 100%;
}

.addition__title {
    display: block;
    color: #969ca9;
    font-size: 17.92px;
    padding-bottom: 41px;
    position: relative;
    padding-left: 27px;
    border-bottom: 1px solid #dfdfe8;
}

.navigate {
    position: relative;
    padding: 14px 53px 11px;
    border-bottom: 1px solid #dfdfe8;
}

.navigate__text {
    font-weight: 700;
    color: #747487;
    font-size: 15.42px;
    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
}

.index {
    display: block;
    width: 11px;
    height: 11px;
    background: #aeaeb9;
    border-radius: 2px;
}

.navigate__index {
    position: absolute;
    transform:translate(-50%, -50%);
    left: 26px;
    top: 50%;
}

.navigate__text:hover {
    color: #747487;
    border-bottom: 1px solid #747487;
}

.reviews {
    margin-top: 53px;
    color: #969ca9;
}

.reviews__title {
    font-size: 17.92px;
    color: #969ca9;
    margin-bottom: 36px;
    margin-left: 25px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider img {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #656e8d;
    border-radius: 50%;
    max-width: 140px;
    max-height: 140px;
}

.slider__title {
    color: #747487;
    font-size: 15.42px;
    margin-top: 18px;
    margin-bottom: 13px;
}

.slider__text {
    font-size: 13px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    line-height: 1.2em;
}

.slick-dots li button {
    width: 11px;
    height: 11px;
    padding: 0;
}

.slick-dots li {
    width: 11px;
    height: 11px;
    margin: 0;
}

.slick-dots li button {
    background: #bdc5d6;
    border-radius: 2px;
}

.slick-dots li button:before {
    content: '';
    width: 11px;
    height: 11px;
    background: #8b9ab7;
    border-radius: 2px;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    width: 68px;
}

.slider .fa-facebook-f {
    margin-bottom: 12px;
    color: #2c60a0;
}

.slick-prev, .slick-next {
    color: #000;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-top: -67px;
    z-index: 100;
}

.slick-prev {
    left: 44px;
}

.slick-next {
    right: 44px;
}

.slick-next:hover {
    color: #000;
    right: 37px;
}

.slick-prev:hover {
    color: #000;
    left: 37px;
}

.slick-next:focus {
    color:#000;
}

.slick-prev:focus {
    color:#000;
}

.slick-next::before {
    display: none;
}

.slick-prev::before {
    display: none;
}

.pictures {
    padding: 48px 0 71px;
}

.picture__icon {
    position: relative;
}

.picture__overlay {
    background: rgba(58, 68, 86, 0.69);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    border: 7px solid #9a97a7;
}

.picture__icon img {
    height: 100%;
    width: 100%;
}

.fa-expand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-size: 29.17px;
    opacity: 0;
}

.fa-up-right-and-down-left-from-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-size: 29.17px;
    opacity: 1;
}

.picture__overlay:hover {
    opacity: 1;
}

.pictures__title {
    font-weight: 700;
    margin-bottom: 38px;
}

/* ------ Fourth section ------ */

.mission {
    padding: 39px 0 44px;
    background: #58647a;
    position: relative;
    opacity: 1;
    z-index: 0;
}

.mission::after {
    content: '';
    background: url(../img/noutbuk-stakan-voda-dokumenty.png) no-repeat center top /cover;
    position: absolute;
    opacity: 0.06;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mission__title {
    font-weight: 700;
    font-size: 23px;
    color: #aaafb9;
    padding-bottom: 10px;
    border-bottom: 3px solid #6f7a8c;
    margin-bottom: 6px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 1.2em;
    color: #d1d4d9;
    
}

.info1 {
    width: 50%;
}

.info2 {
    width: 47.5%;
}

.info__text {
    margin-top: 16px;
}

.more {
    margin-top: 42px;
    color: #cdd1d7;
    border: 2px solid #cdd1d7;
    background: transparent;
    font-size: 15.83px;
    padding: 11px 30px;
}

.more:hover {
    background: #cdd1d7;
    color: #5f6b7f;
    border: 2px solid #cdd1d7;
}

.news {
    display: flex;
    margin-top: 20px;
    padding-bottom: 11px;
    line-height: 1em;
    position: relative;
}

.news::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #6c778a;
}

.news img {
    display: block;
    max-width: 56px;
    max-height: 55px;
}

.news__text {
    font-weight: 700;
    font-size: 12.5px;
    color: #dcdee2;
    margin-left: 10px;
    width: 180px;
}

.news__text time {
    display: block;
    color: #a2a8b3;
    font-size: 10.42px;
    margin-top: 14px;
}

/* ------ Fifth section ------ */

.services {
    padding-bottom: 43px;
    background: #3a4456;
}

.services__title {
    margin-top: 40px;
    margin-bottom: 16px;
    color: #c9cace;
    font-size: 19px;
}

.services__text {
    color: #a5a8af;
    line-height: 1.5em;
}

.services__text:hover {
    color: #fff;
}

/* ------ Sixth section ------ */

.footer {
    padding-bottom: 53px;
    background: #1f2531;
    font-size: 12px;
    border-bottom: 18px solid #58647a;
    line-height: 1.2em;
}

.footer p {
    color: #aaabae;
}

.footer span {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #acafb3;
    color: #acafb3;
}

.coaching__words_little {
    font-size: 10.42px;
}

.coaching__words_middle {
    font-size: 12.08px;
    text-transform: uppercase;
}

.coaching {
    display: flex;
    margin-top: 42px;
}

.coaching__words {
    margin-top: -1px;
    margin-left: 7px;
}

.footer__btn {
    margin-top: 68px;
    padding: 10px 13px;
    border-radius: none;
}

.clickbait {
    margin-top: 37px;
}

.address {
    margin-top: 14px;
}

.footer__link {
    color: #acafb3;
    border-bottom: 1px solid transparent ;
    transition: all 0.5s ease;
}

.footer__link:hover {
    color: #acafb3;
    border-bottom: 1px solid #acafb3 ;
}

.protect {
    margin-top: 23px;
}
